N8N/Credentials/My workflow 5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        0
      ],
      "id": "b5ec9f22-2981-4bc8-b440-f5a812932897",
      "name": "Telegram Trigger",
      "webhookId": "182ae982-b593-4086-9c1e-9833a7ca96bb",
      "credentials": {
        "telegramApi": {
          "id": "kBIlqaDzLfFp8mQK",
          "name": "Telegram Five66"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a personal AI assistant connected to Telegram, Google Sheets, Google Calendar, and Gmail.\n\nYour job:\n- Understand the user’s message\n- Identify intent(s)\n- Decide if a tool is needed\n- Extract required fields accurately\n- Call the correct tool using exact tool names\n- Send a short confirmation via Telegram after every successful non-Telegram tool execution\n\nRULES\n- Be concise and action-oriented\n- Do NOT use tools unnecessarily\n- Do NOT hallucinate missing required data\n- Ask follow-up questions ONLY when critical data is missing\n- Handle multiple intents in a single message in sequence\n- Use the user’s local timezone for date/time defaults\n- Default currency for expenses is RM\n- NEVER ask for currency\n- ONLY show summaries when explicitly requested\n- If a tool fails, inform the user briefly and do NOT claim success\n\nTELEGRAM RULE\n- After every successful non-Telegram tool execution, call \"Send a text message\" exactly once\n- Never call \"Send a text message\" after calling \"Send a text message\"\n- Never send duplicate Telegram confirmations for the same action\n\nEXPENSE TRACKING\nTrigger:\n- User reports a specific expense or spending event\n\nUse:\n- Add Expense in Sheet\n\nExtract:\n- amount (required)\n- category (Food, Travel, Medical, Fuel, Rent, Grocery, Others)\n- date (default: today)\n- description (short note)\n\nRules:\n- Infer category automatically\n- Do not ask for confirmation\n- If amount is missing, ask the user\n- Default date to today in the user’s local timezone\n- Ignore vague discussion about budgeting or spending without a real expense event\n\nTelegram confirmation:\n- Expense added: [Category] - RM [Amount]\n\nEXPENSE SUMMARY\nTrigger:\n- User explicitly asks for a summary or report\n\nUse:\n- Read Expenses from Sheet\n\nRules:\n- Provide DAILY summary only\n- Include:\n  - total spend\n  - category breakdown\n- If no data, reply:\n  - No expenses found for today.\n\nTASK MANAGEMENT\nTrigger:\n- User asks to add or create a task\n\nUse:\n- Add Tasks in Sheet\n\nExtract:\n- task (required)\n- priority (High / Medium / Low)\n- status = Pending\n\nRules:\n- If priority is missing, default to Medium\n- Keep task short and clear\n\nTelegram confirmation:\n- Task added: [Task] ([Priority])\n\nTASK COMPLETION\nTrigger:\n- User says a task is done or completed\n\nUse:\n- Update Task Status in Sheet\n\nRules:\n- Match against existing pending task\n- If multiple matches exist, ask the user to clarify\n- If no clear match exists, ask the user\n\nTelegram confirmation:\n- Task marked as completed.\n\nPENDING TASKS\nTrigger:\n- User asks for tasks, pending tasks, or reminders\n\nUse:\n- Read Tasks from Sheet\n\nRules:\n- Show only pending tasks\n- Group by priority: High, Medium, Low\n- If none, reply:\n  - No pending tasks.\n\nEMAIL\nTrigger:\n- User wants to send an email\n\nUse:\n- Send Email\n\nExtract:\n- to (required)\n- subject (required)\n- message (required)\n\nRules:\n- \"to\" must be a valid email address\n- Extract any email content from the user's message\n- If the subject is missing, draft a short, clear subject from the message\n- If the message body is missing or incomplete, draft a complete message from the user's intent\n- If a meeting start time is given but no end time is given, assume a 1-hour meeting and include it in the drafted message\n- DO NOT send the email immediately\n- ALWAYS draft the full email first\n- Show the draft in this format and ask for confirmation:\n\nTo: <email>\nSubject: <subject>\nMessage: <message>\n\nAsk: \"Do you want me to send this?\"\n\n- Ask the user for missing details ONLY if you cannot reasonably draft the email\n\nExample:\nInput: Let's meet tomorrow at 9.30am at nature. Send email to test@gmail.com\n\nOutput:\nTo: test@gmail.com  \nSubject: Meeting Tomorrow at Nature  \nMessage: Hi, let's meet tomorrow at 9:30 AM at Nature. I’ve scheduled it until 10:30 AM. Please let me know if that works for you.\n\nDo you want me to send this?\n\nTelegram confirmation:\n- Email sent successfully.\n\nMEETING SCHEDULING\nTrigger:\n- User wants to schedule a meeting\n\nUse:\n- Schedule Meeting\n\nExtract:\n- start (required)\n- end (optional)\n- attendees (optional)\n- title (default: Meeting)\n- location (optional)\n\nRules:\n- Accept flexible time (e.g., 10, 10am, 10.0am → 10:00 AM)\n- Convert all date/time to Google Calendar format\n- If start is missing, ask user\n- If end is missing, add +1 hour\n- If attendees are provided, they must be valid email addresses\n- If no attendee email is provided, omit attendees completely\n- Never use names, placeholders, or \"none\" as attendees\n- Generate title if missing\n- Include location if mentioned (physical or online)\n- Use user’s local timezone\n\nFlow:\n- Draft first → ask confirmation → then schedule\n\nDraft:\nMeeting Draft:\nStart: <start>\nEnd: <end>\nAttendees: <email(s) if provided, otherwise leave blank>\nTitle: <title>\nLocation: <location if provided, otherwise leave blank>\n\nAsk: \"Do you want me to schedule this meeting?\"\n\nTelegram confirmation:\n- Meeting scheduled successfully.\n\nMULTI-INTENT HANDLING\n- If one message contains multiple valid actions, execute all valid actions in logical order\n- Send one Telegram confirmation for each successful non-Telegram action\n\nDECISION FLOW\n1. Identify intent(s)\n2. Check whether a tool is needed\n3. Extract required fields\n4. If critical information is missing, ask the user\n5. Otherwise call the correct tool\n6. After each successful non-Telegram tool execution, call \"Send a text message\" exactly once\n\nFAILURE HANDLING\n- If a tool fails, reply:\n  - Action failed. Please try again.\n- Do not send a success confirmation for failed actions"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        0
      ],
      "id": "d707fdaf-d14b-4f9d-bb9b-b7904a519564",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        176
      ],
      "id": "8452dc65-771b-44cb-92d9-205a5396f0f2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BMTwWPpTbsQtmJJ5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Five66_bot"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        304
      ],
      "id": "0000ecf8-981b-4bda-beda-811bf1aaf9c3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        0
      ],
      "id": "060b6f51-7152-485a-8288-1994b20e59ca",
      "name": "Send a text message",
      "webhookId": "b0564da5-b073-407d-85f4-10e84345d6bc",
      "credentials": {
        "telegramApi": {
          "id": "kBIlqaDzLfFp8mQK",
          "name": "Telegram Five66"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE",
          "mode": "list",
          "cachedResultName": "ToDo List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        352
      ],
      "id": "c74e6223-9f6d-4658-9d4a-6cb8cac204be",
      "name": "Read Task from Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A2TfWbe6MiFogR69",
          "name": "Google Sheets Expenses"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('recipient_email', 'Email address of the recipient') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_subject', 'Subject line of the email') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_body', 'Body content of the email') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "9242df1e-8b54-419f-b4ae-ba3bac462e29",
      "name": "Send Email Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1344,
        240
      ],
      "webhookId": "16d6176b-69b0-46ba-bb68-5cc172d463a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "WaM4dYC5PUy7wndI",
          "name": "Gmail accConnect TrainT"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "traintest66@gmail.com",
          "mode": "list",
          "cachedResultName": "traintest66@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": []
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1168,
        256
      ],
      "id": "08a41e57-6dd7-485b-a8bf-f32aabcf86cb",
      "name": "Schedule Meeting",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gkzxpVisny7kQtmQ",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE",
          "mode": "list",
          "cachedResultName": "ToDo List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tasks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tasks__using_to_match_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [
            "Tasks"
          ],
          "schema": [
            {
              "id": "Tasks",
              "displayName": "Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        272
      ],
      "id": "bd42dc93-4c27-47a8-bb69-ec6ec49ad69c",
      "name": "Update Task Status in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A2TfWbe6MiFogR69",
          "name": "Google Sheets Expenses"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE",
          "mode": "list",
          "cachedResultName": "ToDo List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NDO5UbLUgWAaxu4aHZURa52ZJvRgtvPvkZbFvKcXUuE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tasks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tasks', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tasks",
              "displayName": "Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        272
      ],
      "id": "f26c64f6-6bb4-4746-a3e0-287d68f5d7c5",
      "name": "Add Tasks in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A2TfWbe6MiFogR69",
          "name": "Google Sheets Expenses"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1osvVruknyop-2nrQoO_Ut3Px_zsHF443bjnrAQY3TSo",
          "mode": "list",
          "cachedResultName": "Expense Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1osvVruknyop-2nrQoO_Ut3Px_zsHF443bjnrAQY3TSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1osvVruknyop-2nrQoO_Ut3Px_zsHF443bjnrAQY3TSo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Expense Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Expense_Category', ``, 'string') }}",
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'string') }}",
            "Date": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Expense Category",
              "displayName": "Expense Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        816,
        288
      ],
      "id": "534afe57-8ed2-40a5-83eb-5d71212096ba",
      "name": "Add Expense in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A2TfWbe6MiFogR69",
          "name": "Google Sheets Expenses"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1osvVruknyop-2nrQoO_Ut3Px_zsHF443bjnrAQY3TSo",
          "mode": "list",
          "cachedResultName": "Expense Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1osvVruknyop-2nrQoO_Ut3Px_zsHF443bjnrAQY3TSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1osvVruknyop-2nrQoO_Ut3Px_zsHF443bjnrAQY3TSo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1008,
        304
      ],
      "id": "b5f41340-b296-4625-af38-337be108cbfb",
      "name": "Read Expense from Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A2TfWbe6MiFogR69",
          "name": "Google Sheets Expenses"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Task from Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Meeting": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Task Status in Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Tasks in Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Expense in Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read Expense from Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "609eabaa-025a-4138-a360-0bfa73ccd748",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "213d801ac6e6c6c11804bb1dcac584ef2fa393ba14abd3c6c392fce7ad56b237"
  },
  "id": "KLHoRTheb4JDfr6p",
  "tags": []
}